// Modified global grid
.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 0 auto;
    grid-gap: 2em;
    position: relative;
}

// MDX elements

.mdxitem {
    background-color: yellow;
}

.mdx {
    // Summary
    &__summary {
        padding-bottom: 5.625rem;

        h2 {
            padding-bottom: 3.125rem;
        }
    }

    // 2 column grid
    &__grid2 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin: 0 auto;
        grid-gap: 2em;
        position: relative;

        @media screen and (max-width: 768px) {
            grid-template-columns: 1fr;
        }
    }

    // 4 column grid
    &__grid4 {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        margin: 0 auto;
        grid-gap: 2em;
        position: relative;
    }

    // Spacing between grids
    &__spacing {
        padding-bottom: 2em;
    }

    // Spacing that wraps a paragraph
    &__pspacing {
        padding: 8.25em 0 8.25em 0;
    }
}