// Modified global grid
.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 0 auto;
    grid-gap: 2em;
    position: relative;
}

// MDX elements

.mdx {
    // Summary
    &__summary {
        h2 {
            padding-bottom: 3.125rem;
        }

        padding-bottom: 5.625rem;
    }

    // Item container
    // .item {
    //     position: relative;
    //     // border-radius: 12px;
    //     width: 100%;
    //     height: 100%;

    //     &__image {
    //         // border-radius: 12px;
    //         height: 100%;
    //         width: 100%;
    //         position: relative;
    //         z-index: -997;
    //     }
    // }

    // 2 column grid
    &__grid2 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin: 0 auto;
        grid-gap: 2em;
        position: relative;
    }

    // 4 column grid
    &__grid4 {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        margin: 0 auto;
        grid-gap: 2em;
        position: relative;
    }

    // Spacing between grids
    &__spacing {
        padding-bottom: 2em;
    }
}