// Color variables
$black: #000000;
$darkgrey: #1d1d1d;
$white: #ffffff;
$green: #0bec56;

// Modified global grid
.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 0 auto;
    grid-gap: 2em;
    position: relative;
}

// HD video
// Hasn't been updated to new format
// Update if you're using it later
.mdxvideo {
    position: relative;
    padding-top: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;

    .react-player {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

// 2048x2048 video
.mdxvideo2048 {
    position: relative;
    padding-top: calc(2048 / 2048 * 100%);
    overflow: hidden;

    .react-player {
        position: absolute !important;
        top: 0 !important;
        left: 0 !important;
    }
}

// 2880 width, 2048 height video
.mdxvideoweb {
    position: relative;
    padding-top: calc(2048 / 2880 * 100%);
    overflow: hidden;

    .react-player {
        position: absolute !important;
        top: 0 !important;
        left: 0 !important;
    }
}

// Links
a {
    color: $green;
    text-decoration: none;
}

.mdx {
    // Summary
    &__summary {
        padding-bottom: 5.625rem;

        h2 {
            padding-bottom: 3.125rem;
        }

        // Social links, wraps around social
        .social-links {
            display: inline-flex;
            flex-wrap: wrap;
            padding-top: 4em;
        }
    }

    // 2 column grid
    &__grid2 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin: 0 auto;
        grid-gap: 2em;
        position: relative;

        @media screen and (max-width: 768px) {
            grid-template-columns: 1fr;
        }
    }

    // 4 column grid
    &__grid4 {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        margin: 0 auto;
        grid-gap: 2em;
        position: relative;
    }

    // 2 column flex grid
    &__flexgrid2 {
        display: flexbox;
    }

    // Spacing between grids
    &__spacing {
        padding-bottom: 2em;
    }

    // Spacing that wraps a paragraph
    &__pspacing {
        padding: 8.25em 0 8.25em 0;
    }

    &__pspacing2 {
        padding-top: 3.125rem;
    }

    // View project on social media and other websites
    &__social {
        display: inline-block;
        margin: 0 1em 1em 0;
        padding: 12px 18px;
        border: 1px solid $green;
        border-radius: 12px;

        &:hover {
            background-color: rgba($green, 0.14);
            transition: 0.3s;
        }

        // Social icon
        .social-icon {
            color: $white;
            font-size: 24px;
            display: flex;
            align-items: center;
            text-decoration: none;

            span {
                padding: 0 0 0 0.6em;
            }
        }
    }

    // New flex gallery
    &__flexgallery {
        display: flex;
        flex-direction: column;
        gap: 2em;
    }

    &__flexcolumn {
        display: flex;
        flex-direction: column;
        gap: 2em;
    }

    &__flexitem {
        width: 22em;

        img {
            width: 100%;
            border-radius: 5px;
            height: 100%;
            object-fit: cover;
        }
    }

    // Flex 2
    &__flexgallery2 {
        display: flex;
        flex-direction: column;
    }

    &__flexcolumn2 {
        flex-direction: column;
        display: flex;
        gap: 2em;
    }

    // Fits for web video
    &__flexitem2 {
        width: 60.5%;

            img {
                width: 100%;
                border-radius: 5px;
                height: 100%;
                object-fit: cover;
            }
    }

    &__prefooter {
        padding: 4em 0;
    }
}

// Flex container - media

@media only screen and (min-width: 768px) {
    .mdx {
        &__flexgallery {
            flex-direction: row;
        }
    }
}

@media screen and (max-width: 1700px) {
    .mdx {
        &__flexitem {
            width: 18em;
        }
    }
}

@media screen and (max-width: 1500px) {
    .mdx {
        &__flexitem {
            width: 16em;
        }
    }
}

@media screen and (max-width: 1370px) {
    .mdx {
        &__flexitem {
            width: 14em;
        }
    }
}

@media screen and (max-width: 1240px) {
    .mdx {
        &__flexitem {
            width: 12em;
        }
    }
}

@media screen and (max-width: 1100px) {
    .mdx {
        &__flexitem {
            width: 10em;
        }
    }
}

@media screen and (max-width: 980px) {
    .mdx {
        &__flexitem {
            width: 7em;
        }
    }
}

@media screen and (max-width: 768px) {
    .mdx {
        &__flexitem {
            width: 100%;
        }

        &__flexitem2 {
            width: 100%;
        }
    }
}