// Color variables
$black: #000000;
$darkgrey: #1d1d1d;
$white: #ffffff;
$green: #0bec56;

// Resume
.resume {
    .header {
        grid-column: 1/5;
        padding: 8.25em 0 4.625em 0;

        &__flex {
            display: flex;
            justify-content: space-between;
        }
    }

    .info {
        padding: 0 0 5em 0;

        &__contacts {
            grid-column: 1/2;

            p {
                line-height: normal;

                a {
                    color: $white;

                    &:hover {
                        color: $green;
                        transition: 0.3s;
                    }
                }
            }

            span {
                font-weight: 800;
            }
        }

        &__socials {

            &__one {
                grid-column: 2/3;

                a {
                    color: $white;

                    &:hover {
                        color: $green;
                        transition: 0.3s;
                    }
                }
            }
            &__two {
                grid-column: 3/5;

                a {
                    color: $white;

                    &:hover {
                        color: $green;
                        transition: 0.3s;
                    }
                }
            }
        }
    }

    .skills {
        padding: 0 0 5em 0;

        &__header {
            grid-column: 1/5;
        }

        &__prglng {
            &__one {
                grid-column: 1/2;
            }
            
            &__two {
                grid-column: 2/5;
            }
        }

        &__lang {
            &__one {
                grid-column: 1/2;
            }

            &__two {
                grid-column: 2/5;
            }
        }

        &__apps {
            &__headings {

                &__one {
                    grid-column: 1/2;
                }

                &__two {
                    grid-column: 2/3;
                }

                &__three {
                    grid-column: 3/4;
                }

                &__five {
                    grid-column: 4/5;
                }
            }

            &__content {
                &__one {
                    grid-column: 2/3;
                }

                &__two {
                    grid-column: 3/4;
                }

                &__three {
                    grid-column: 4/5;
                }
            }
        }
    }

    .experience {
        padding: 0 0 5em 0;

        span {
            font-weight: 800;
        }

        &__header {
            grid-column: 1/5;
        }

        &__one {
            grid-column: 1/2;
        }

        &__two {
            grid-column: 2/5;
        }
    }

    .education {
        padding: 0 0 8.25em 0;

        span {
            font-weight: 800;
        }

        &__header {
            grid-column: 1/5;
        }

        &__one {
            grid-column: 1/2;
        }

        &__two {
            grid-column: 2/5;
        }
    }
}

// Global grid
.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 0 auto;
    grid-gap: 2em;
    position: relative;
}